<DOCTYPE html>

<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body class="container">
            
        <header>
            <h1 class="display-4"><%= title %></h1>
        </header>
        <div role="form-group">
            <p><%- content %></p>
            <form method="post" action="/find">
                <div class="form-group">
                    <label for="find">FIND</label>
                    <input type="text" name="find" id="find" class="form-control" value="<%=find %>">
                </div>
                <input type="submit" value="更新" class="btn btn-primary">
            </form>

            <table class="table mt-4">
                <th>history_id</th>
                <th>date</th>
                <th>user_id</th>
                <th>user_name</th>
                <th>book_name</th>
                <th>book_price</th>
                <% for(var i in historydata) {%>
                    <tr>
                        <% var obj = historydata[i]; %>
                        <td><%= obj.history_id %></td>
                        <td><%= obj.date %></td>
                        <td><%= obj.user_id %></td>
                        <td><%= obj.user_name %></td>
                        <td><%= obj.book_name %></td>
                        <td><%= obj.book_price %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>